<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchasesystem.dao.form.InStoreFormDao">
    <resultMap id="ISFormMap" type="java.util.HashMap">
        <id column="fid" property="formid"></id>
        <result column="name" property="title"></result>
        <result column="status" property="status"></result>
        <result column="comment" property="comment"></result>
        <result column="make_date" property="makeDate"></result>
        <result column="auditor_id" property="auditorId"></result>
        <result column="employee_name" property="auditor"></result>
        <result column="receipt_id" property="receiptId"></result>
    </resultMap>
    <insert id="insertForm" useGeneratedKeys="true" keyProperty="id" parameterType="purchasesystem.model.store.InStoreForm">
        INSERT INTO instore_form (name, status, comment, make_date, auditor_id, receipt_id)
        VALUES(#{title},#{status},#{comment},#{makeDate},#{auditorId},#{receiptId})
    </insert>

    <delete id="deleteForm" parameterType="Integer">
        DELETE FROM instore_form WHERE id=#{id}
    </delete>

    <update id="updateForm" parameterType="purchasesystem.model.store.InStoreForm">
        UPDATE instore_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="title!=null">name=#{title},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="makeDate!=null">make_date=#{makeDate},</if>
            <if test="auditorId!=null">auditor_id=#{auditorId},</if>
            <if test="receiptId!=null">receipt_id=#{receiptId},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="selectFormBatch" resultMap="ISFormMap">
        SELECT instore_form.id as fid ,instore_form.name,status,comment,
        make_date,auditor_id,receipt_id,employee.name as employee_name
        FROM instore_form,employee
        WHERE auditor_id=employee.id
        ORDER BY fid
        LIMIT #{base},#{offset}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM purchase.instore_form
    </select>
</mapper>