<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseSystem.dao.Form.needPlanFormDao">
    <resultMap id="NPFormMap" type="java.util.HashMap">
        <id column="fid" property="NPFid"></id>
        <result column="name" property="name"></result>
        <result column="status" property="status"></result>
        <result column="comment" property="comment"></result>
        <result column="make_date" property="makeDate"></result>
        <result column="receive_date" property="receiveDate"></result>
        <result column="maker_id" property="makerId"></result>
        <result column="apartment_id" property="apartmentId"></result>
        <result column="employee_name" property="maker"></result>
        <result column="apartment_name" property="apartment"></result>
    </resultMap>
    <insert id="insertNPForm" useGeneratedKeys="true" keyProperty="id" parameterType="PurchaseSystem.model.Form.NeedPlanForm">
        INSERT INTO needplan_form (name, status, comment, make_date, maker_id, apartment_id)
        VALUES(#{name},#{status},#{comment},#{makeDate},#{makerId},#{apartment})
    </insert>

    <delete id="deleteNPForm" parameterType="Integer">
        DELETE FROM needplan_form WHERE id=#{id}
    </delete>

    <update id="updateNPForm" parameterType="PurchaseSystem.model.Form.NeedPlanForm">
        UPDATE needplan_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="makeDate!=null">make_date=#{makeDate},</if>
            <if test="receiveDate!=null">receivedate=#{receiveDate},</if>
            <if test="makerId!=null">maker_id=#{makerId},</if>
            <if test="apartment!=null">apartment_id=#{apartment},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="selectNPFormBatch" resultMap="NPFormMap">
        SELECT needplan_form.id as fid ,needplan_form.name,status,comment,
        make_date,receive_date,employee.name as employee_name,
        apartment.name as apartment_name,maker_id,needplan_form.apartment_id
        FROM needplan_form,employee,apartment
        WHERE maker_id=employee.id AND needplan_form.apartment_id=apartment.id
        ORDER BY fid
        LIMIT #{base},#{offset}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM purchase.needplan_form
    </select>
</mapper>