<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchasesystem.dao.form.ReceiptFormDao">
    <resultMap id="RFormMap" type="java.util.HashMap">
        <id column="fid" property="formid"></id>
        <result column="name" property="title"></result>
        <result column="status" property="status"></result>
        <result column="comment" property="comment"></result>
        <result column="make_date" property="makeDate"></result>
        <result column="receive_date" property="receiveDate"></result>
        <result column="auditor_id" property="auditorId"></result>
        <result column="order_id" property="orderId"></result>
        <result column="employee_name" property="auditor"></result>
    </resultMap>
    <insert id="insertForm" useGeneratedKeys="true" keyProperty="id" parameterType="purchasesystem.model.form.ReceiptForm">
        INSERT INTO receipt_form (name, status, comment, make_date, order_id, auditor_id,receive_date)
        VALUES(#{title},#{status},#{comment},#{makeDate},#{orderId},#{auditorId},#{receiveDate})
    </insert>

    <delete id="deleteForm" parameterType="Integer">
        DELETE FROM receipt_form WHERE id=#{id}
    </delete>

    <update id="updateForm" parameterType="purchasesystem.model.form.ReceiptForm">
        UPDATE receipt_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="title!=null">name=#{title},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="makeDate!=null">make_date=#{makeDate},</if>
            <if test="receiveDate!=null">receive_date=#{receiveDate},</if>
            <if test="auditorId!=null">auditor_id=#{auditorId},</if>
            <if test="orderId!=null">order_id=#{orderId},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="selectFormBatch" resultMap="RFormMap">
        SELECT receipt_form.id as fid ,receipt_form.name,status,comment,
        make_date,order_id,receive_date,employee.name as employee_name,auditor_id
        FROM receipt_form,employee
        WHERE auditor_id=employee.id
        ORDER BY fid
        LIMIT #{base},#{offset}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM purchase.receipt_form
    </select>
</mapper>